/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 jul. 2022, 21:50:16
    Author     : Kybz
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    
}

.bg-light{
    
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
    margin-bottom: 109px;
    margin-top: 109px;
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,1);
    
}

.form-control{
    
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    flex: 1;
    margin: 5px;
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,1);
}

.btn{
    
    
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 300;
    background-color: #7F53B0;
    color: white;
    margin: 5px;
    
}

.btn:hover{
    
    background-color: #5A3B7D;
    color: white;
    
}

.btn:focus{
    
    background-color: #5A3B7D;
    color: white;
}

.header{
    
    background-color: #7F53B0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}

.body{
    flex: 1;
    padding: 20px 30px; 
    
}

.mensaje{
    
     background-color: #4DFFD8;
     padding: 10px;
     width: fit-content;
     border-radius: 10px;
     margin-bottom: 15px;
    
}

.mensaje-usuario{
    margin-left: auto;
    background-color: #B577FC;
    margin-bottom: 400px;
    
    
}

.footer form{
    display: flex;
    
}

