/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun. 2022, 20:18:06
    Author     : Kybz
*/
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body{

    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-size: contain;
    background-position: right;
    box-sizing: border-box;
    position: relative;
    
}


.navbar{
    display: flex;
    height: 70px;
    background: #7F53b0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo {
    width: 75px;
    display: block;
}

.carrito {
    width: 40px;
    display: block;
    margin-left: auto;
}

a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    color: white;
    text-decoration: underline;
}

nav a {
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
}

.nav-buscar{
    width: 66%;
    padding: 7px 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.nav-buscar-boton{

    width: 7%;
    height: 31px;
    background: #00ffc6;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}


.content{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.producto{
    margin: 90px;
    margin-top: 15px;
    padding: 2px 16px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 #000;

}

.producto:hover {

    box-shadow: 0 8px 16px 0 #006666;

}


.producto img{

    width: 350px;

}

.producto-boton{
    width: 40%;
    height: 25px;
    margin: 15px;
    background: #A692BD;
    border-color: #B577FC;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;

}

.producto-boton:hover {

    background: #B577FC;

}



