* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario {
    width: 400px;
    background: #7F53b0;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    font-family: sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.botones {
    width: 100%;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px;
    color: #7F53b0;
    margin: 16px 0;
    font-size: 16px;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    height: 70px;
    background: #7F53b0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}