/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun. 2022, 20:18:20
    Author     : Kybz
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


.registro{
    
    width: 400px;
    background: #7F53b0;
    padding: 30px;
    margin: auto;
    margin-top: 15%;
    border-radius: 15px;
    font-family: heavitas;
    color: white;
    box-shadow: 7px 13px 37px #000;
    
}

.registro h4{
    
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
    
}

.campos {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: none;
    font-weight: bold;
       
}

.registro p{
    
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: 'arial';
    line-height: 40px;
    
        
}

.registro a{
    
    color: white;
    text-decoration: none;
    
}

.registro a:hover{
    
    color: white;
    text-decoration: underline;
    
}

.botones{
    
    width: 100%;
    background: #00ffc6;
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
    
    
    
}