/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 jun 2022, 14:59:23
    Author     : ASUS
*/
¨

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


.logo{
    height: 100%; 
}
.logoBar {
    background: #7F53b0;
    height:70px;
    list-style: none;
}
nav{
    float: right;
}

nav ul li a{
    background: #7F53b0;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 35px;
    display: block;
    height: 20px; 
 

}
nav ul li{
    display: inline-block;
    text-align: center;
    position: relative
        
}

nav ul li a:hover{
    background:mediumorchid;
    
}

.terminos {
    height: 100px;
    margin: 20px;
}

.check {
    margin: 20px;
    color: #7F53b0;
    font-size: 150%;
}
